
/* Common classes */
body {
    height: 100vh;
    background:linear-gradient(#009688 0px, #009688 120px, #d8dbd6 120px, #d8dbd6)
}
#root {
    margin-top: 20px;
}

.user_controls {
    background-color: #eaeaea;
    height: 100px;
}

.avatar {
    height: 80px;
    border-radius: 50%;
}

.controls i, #chat_search i{
    padding: 0 10px;
    color: #b1b1b1;
}

.message_sent {
    background-color: #d5f9ba;
    align-self: flex-end;
    
}
.message_received {
    background-color: white;
    align-self: flex-start;
}
.message_sent, .message_received {
    border-radius: 5px;
    min-width: 100px;
    max-width: 250px;
    margin: 10px 0;
}

i:hover {
    cursor: pointer;
}

.contact:hover {
    background-color: #e9ebeb;
}

.text_big{
    font-size: 1.5rem;
}

.active {
    background-color: #e9ebeb;
}

/* Sidebar classes */
#sidebar {
    width: 35%;
    border-right: 1px solid #b1b1b1;
    background-color: white;
}

#notification_control {
    background-color: #8edafc;
}
#notification_control i {
    color: #8edafc;
    background-color: white;
    border-radius: 50%;
    line-height: 70px;
    width: 70px;
    text-align: center;
    vertical-align: middle;
}

#notifier_link {
    text-decoration: underline;
    color: #4f7485;
    font-size: 0.9rem;
}

#chat_search {
    background-color: #fafafa;
}

#contacts {
    overflow-y: scroll;
}
.contact {
    border-top: 1px solid #e9ebeb;

}

/* Conversation classes */
#conversation{
    width: 65%;
}

#messages {
    background-image: url("../img/mine.jpg");
    background-size: contain;
    padding: 20px 100px;
    overflow-y: scroll ;
    height: 550px;
    max-height: 550px;
} 

#input_panel {
    background-color: #f3eeea;
    margin-top: auto;
}
#new_message {
    width: 85%;
    height: 50px;
    border-radius: 5px;
    padding: 10px;
}
#input_panel i {
    color: #6b7376;
}
