<!doctype html>
<html lang="en">
  <head>
    <title>BoolzApp</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Personal Style -->
    <link rel="stylesheet" href="./assets/css/style.css">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body class="bg_lightgrey">
    <!-- Container Principale contenente l'app -->
    <div id="root" class="container d-flex mt-2">
        <!-- Main sidebar -->
        <div id="sidebar" class="">
            <!-- User controls -->
            <div class="user_controls d-flex align-items-center px-2">
                <div id="user" class="d-flex">
                    <img src="./assets/img/avatar_io.jpg" alt="avatar" class="avatar">
                    <span class="text_big pl-3">Belen</span>
                </div>
                <div class="controls ml-auto">
                    <i class="fas fa-circle-notch fa-2x  "></i>
                    <i class="fas fa-comment-alt fa-2x   "></i>
                    <i class="fas fa-ellipsis-v fa-2x   "></i>
                </div>
            </div>
            <!-- /User controls -->
            <div id="notification_control" class="p-4 d-flex align-items-center">
                <div>
                    <i class="fas fa-bell-slash fa-2x "></i>
                </div>
                <div class="pl-2">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <span id="notifier_link">Attiva notifiche desktop</span>
                </div>
                
            </div>
            <!-- Notifications -->

            <!-- Chat Search -->
            <div id="chat_search" class="p-2">
                <div class="bg-white p-2">
                    <i class="fas fa-search  fa-lg mr-3 "></i>
                    <input type="text" width="200" name="chat_search" id="chat_search" placeholder="Cerca o inizia una nuova chat" class="border-0 w-75">
                </div>
            </div>
            <!-- /Chat Search -->
            
            <!-- Contacts -->
            <div id="contacts" class="bg-white">
                <div v-for="(contact, index) in contacts" @click="selezioneContatto(index)" class="p-3 contact" :class="numeroUtente==index ? 'active' : ''">
                    <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="avatar " class="avatar ">
                    <span class="pl-3 text_big">{{contact.name}}</span>
                </div>
            </div>
            <!-- /Contacts -->

        </div>
        <!-- /Main sidebar -->

        <!-- Conversation content -->
        <div id="conversation" class="">
            <!-- Contact Panel -->
            <div class="user_controls d-flex align-items-center px-2">
                <div id="user" v-for="utente in utenteAttivo" class="d-flex">
                    <img :src="`./assets/img/avatar${utente.avatar}.jpg`" alt="avatar" class="avatar">
                    <span class="text_big pl-3">{{utente.name}}</span>
                </div>
                <div class="controls ml-auto">
                    <i class="fas fa-search fa-2x  "></i>
                    <i class="fas fa-paperclip fa-2x   "></i>
                    <i class="fas fa-ellipsis-v fa-2x   "></i>  
                </div>
            </div>
            <!-- /Contact Panel -->

            <!-- Messages -->
            <div id="messages" class="d-flex flex-column">


                <!-- <div class="message_received">asd</div>
                <div class="message_sent"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, ut? </div> -->
                
                <div v-for="(message, index) in conversazioneAttuale[0]" class="d-flex flex-column">
                    <div :class="`message_${message.status}`" class="d-flex flex-column position-relative">
                        <div class="pb-1">{{message.text}}</div> 
                        <div class="ora_messaggio text-right">{{message.date}}</div>
                    </div>


                </div>
            </div>
            <!-- /Messages -->

            <!-- Input Panel -->
            <div id="input_panel" class="d-flex mt-auto justify-content-between p-3 align-items-center">
                <span id="error"></span>
                <i class="far fa-smile fa-2x"></i>
                <input type="text" name="new_message" id="new_message" placeholder="Scrivi un messaggio" v-model="messaggio" class="border-0" @keyup.enter="invioMessaggio(messaggio)">
                <i class="fas fa-microphone fa-2x  "></i>
            </div>
            <!-- /Input Panel -->

        </div>
        <!-- /Conversation content -->

    </div>
    <!-- /Container Principale contenente l'app -->
    <!-- Optional JavaScript -->
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <script src="./assets/js/main.js"></script>

</body>
</html>